body{
    width: 600px;
}

.site-navigation{
    display: none;
}

.site-main{
    margin: 0px;
}

.entry-header{
    background-image:  url(./images/header-image.jpg);
    background-position: center;
    background-size: auto;
}

.button-primary{
    text-align: center;
    width: 128px;
}

.site-logos{
    padding: 0px 16%;
    width: 100%;
}

.site-logos-container{
    display: inline;
}

.site-information{
    display: block;
    text-align: center;
}

.site-information-text{
    text-align: center;
}

.site-information-text > .entry-title{
    font-size: 3rem;
}

.entry-description{
    width: 100%;
    padding: 20px 13%;
    font-size: 1.3rem;
}

.site-form{
    margin: 0px;
}

.entry-title{
    font-size: 0.5rem;
}

.first-name{
    display: block;
}

.site-form label{
    display: block;
}

.site-form input{
    width: 100%;
}

.site-form form > p{
    display: block;
}

.site-form button{
    margin-left: 37%;
    text-align: center;
}

.site-blog-container{
    margin: 0px;
    padding: 50px 0px;
}

.site-posts{
    display: block;
    margin-left: 20%;
    width: 100%;
}

.site-blog-container h2{
    padding: 0px 17%;
    font-size: 3rem;
}

.site-post{
    width: 60%;
}

.site-post > h2{
    font-size: 1.2rem;
}

.site-footer{
    text-align: center;
    display: block;
}