@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
    font-family: 'PT Sans';
}

.section1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(image/computer-main.jpg);
    height: 885px;
    background-position: center;
    color: white;
}

.section1-heading{
    display: flex;
    font-size: 2rem;
    padding-top: 30px;
}

.section1-heading-p1{
    padding-left: 22%;
}

.section1-heading-p2{
    padding-left: 40%;
}

.section1-main h1{
    font-size: 4rem;
    padding: 7% 26% 0px 27%;
}

.section1-main p{
    padding: 3% 35%;
    font-size: 1.6rem;
    text-align: center;
}

.section1-main button{
    display: block;
    margin-left: 45.4%;
    height: 60px;
    width: 9%;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 47px;
    border-radius: 6px;
    border: 1px solid #00D08E;
    background-color: #00D08E;
}

.section1-main button:hover{
    background: transparent 0%;
    border: 2px solid white;
}

.section1-main div{
    font-size: 1.7rem;
    padding: 5% 42% 5% 45%;
}

.section1-main div a{
    color: white;
    text-decoration: none;
}

.section1-main a i{
    padding-left: 10px;
}