@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    padding: 0px 14%;
    color: #363434;
}

h1{
    font-family: 'Abril Fatface';
}

.main{
    background-image: url(image/image.jpg);
    background-position: center;
    height: 1065px;
    width: 100%;
}

.heading{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 17%;
    position: absolute;
    top: 30px;
    left: 16%;
    height: 250px;
}

.heading h1{
    font-size: 48px;
    padding: 8% 14% 5px 6%;
}

.heading hr{
    width: 54%;
    margin-right: 40%;
    border: 1px solid white;
}

.heading p{
    padding: 2% 5% 5% 5%;
    font-size: 22px;
}

.heading-info{
    width: 21%;
    text-align: right;
    color: white;
    background-image: linear-gradient(to right, #9C928A , #C9C7C6);
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    position: absolute;
    top: 310px;
    left: 63%;
    height: 330px;
    padding: 2% 1% 4% 1%;
    font-size: 1.25rem;
}

.heading-info i{
    font-size: 1.5rem;
    color: #89817D;
}

.heading-info p{
    text-shadow: 1px 1px black;
}

.info{
    display: flex;
}

.left-side{
    background-color: #F2F0F3;
    width: 70%;
    padding: 4% 6% 2% 5%;
}

.left-side h1{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.right-side{
    background-color: #BAB1AD;
    width: 30%;
}

.info-main{
    margin-bottom: 70px;
}

.info-main p{
    font-size: 1.34rem;
    margin: 15px 0px;
}

.info-main span{
    font-weight: bold;
}

.info-main i{
    margin-right: 10px;
}

.info-footer hr{
    position: absolute;
    width: 50.4%;
    left: 14%;
    height: 3px;
    top: 1745px;
    border: 1px solid;
}

.info-footer p{
    display: inline;
    font-size: 1.4rem;
    margin-right: 10px;
}

.info-footer span{
    font-weight: bold;
    font-style: italic;
}

.info-footer input{
    height: 50px;
    border-radius: 6px;
    width: 52%;
    margin: 40px 20px 0px 0px;
    color: white;
    border: 1px solid #BAB1AD;
    background-color: #BAB1AD;
    padding: 15px;
}

.info-footer button{
    height: 50px;
    width: 18%;
    border-radius: 6px;
    border: 1px solid #67784D;
    background-color: #67784D;
    color: white;
}