@import url(https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif);

body{
    font-family: 'PT Sans', 'PT Serif';
}

header{
    color: white;
}

.header-heading{
    display: flex;
    background-color: #D01919;
    padding: 1.1rem 3rem;
    font-size: 19px;
    height: 4rem;
    font-weight: lighter;
}

i{
    padding-right: 5px;
}

.phone-number{
    padding-right: 36%;
}

.address{
    padding-right: 36%;
}

.header-section{
    background-image: url(image/fitness-main.jpg);
    height: 600px;
    padding-top: 1px;
    background-position: center;
    background-size: 100%;
    text-align: center;
}

ul{
    display: flex;
    margin-left: 48%;
    font-size: 18px;
    font-weight: lighter;
}

ul li{
    list-style-type: none;
    margin-right: 8%;
}

.header-section h1{
    font-size: 4rem;
    letter-spacing: 12px;
    margin: 9rem 0px 2rem 0px;
    font-weight: 100;
}

.header-section p{
    padding: 0px 35%;
    font-size: 1.1rem;
    padding-bottom: 2rem;
}

.header-section button{
    border-radius: 6px;
    border: 1px solid #D01919;
    color: white;
    height: 2.2rem;
    width: 9rem;
    background-color: #D01919;
    font-weight: bold;
}

section h2{
    padding: 20px 0px;
    text-align: center;
    font-size: 2.4rem;
}

hr{
    border: 1px solid #D01919;
    width: 50px;
}

.info{
    display: flex;
    padding: 30px 0px;
}

.info div{
    width: 33%;
    text-align: center;
    padding: 0px 8%;
}

.info div img{
    width: 20%;
    margin-left: 40%;
}

.info div h3{
    color: #D01919;
    padding: 20px 0px;
    font-size: 20px;
}

.info div p{
    font-size: 18px;
}

.coaches-info{
    display: flex;
    padding-left: 3%;
}

.coaches-info div{
    text-align: center;
    padding: 0px 9rem;
}

.coaches-info div img{
    width: 100%;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.sport-info{
    font-size: 1.2rem;
    color: gray;
    padding: 0px 1rem;
}

.type-sport{
    color: #D01919;
    font-weight: bold;
}