body{
    width: 37%;
}

.div-header{
    display: none;
}

.logo-center{
    padding: 0px;
}

header h3{
    font-size: 10px;
}

header h1{
    font-size: 22px;
}

.button-header{
    font-size: 10px;
    margin: 60px 0 75px 0;
}

.options{
    display: block;
}

.options article{
    text-align: center;
    width: 100%;
    padding: 0px;
}

article a{
    display: none;
}

.options article h4{
    font-size: 15px;
    padding: 10px 0px 35px 0px;
}

.gallery{
    display: block;
    text-align: center;
    padding-bottom: 50px;
}

main h2{
    font-size: 20px;
}

.gallery article p{
    font-size: 14px;
}

.gallery article>img{
    width: 260px;
    height: 145px;
}

.blog-title h4{
    font-size: 24px;
}

.blog-title h4 span{
    display: none;
}

.blog-title a{
    display: none;
}

#about-blog{
    width: 90%;
    height: 200px;
    margin-top: 30px;
}

#about-blog h3{
    font-size: 16px;
    width: 88%;
    margin: 0px 0px 0px 20px;
}

#about-blog p{
    font-size: 9px;
}

#about-blog button{
    font-size: 9px;
    margin: 0px 0 20px 20px;
}

.blog article img{
    display: none;
}

.magazine-title h4{
    font-size: 15px;
}

.magazine-title a{
    display: none;
}

.magazine-title{
    padding: 20px 0 0 50px;
}

.magazine article{
    display: block;
    text-align: center;
    width: 100%;
}

.magazine-info{
    margin: 0px;
}

.magazine-info img{
    width: 90%;
    height: 170px;
}

.magazine article div h3{
    margin-bottom: 30px;
}

.magazine-info button{
    font-size: 10px;
}

footer{
    margin-top: 70px;
    display: block;
}

footer p{
    font-size: 13px;
}

.icons{
    display: block;
}

.icons a{
    display: block;
    font-size: 2px;
}